.btn
{
    background-color: green;
    padding: 16px;
    width: 100px;
    border: none;
    border-radius: 5px;
}

.dash{
    
    display: inline-block;
    box-shadow: 0 0 5px grey;
    padding: 16px;
    background-color: cornsilk;

}
.block
{
    margin-top: 10px;
    background-color: rgb(230, 161, 13);
    display: flex;
    justify-content: center;
}